
.body-style{
	background-color: #E6E6E6;
}

.search_result{
	border: solid;	
	border-width: 1px;
	/*border-color: darkblue;*/
	height:150px;
	background-color: white;
	margin-bottom: 6px;
	border-radius: 10px;
}

.search_result:hover { 
  background-color: rgba(0, 0, 0, 0.1);
}
#search-header{ 
	height:32px;
	/*border: solid;*/
	/*border-width: 1px;*/
	/*border-color: black;*/
	margin-top: 0px;
	margin-bottom: 6px;
	/*outline: 1px solid darkblue;*/
}

.related{
	 background-color: white;
	 border: solid;
	 width: 23%;
	 float: right;
	 position:fixed;
	 margin-left: 920px;
	 padding: 5px;
	 border-radius: 10px;
	 /*overflow-y: scroll;*/
	/* height:615px;*/
	 /*min-height: 615px;*/
}

.all_related{
	height: 500px;
	overflow: scroll;
}
.search{
	 /*background-color: white;*/
 	/*border: solid;	
	border-width: 1px;
	border-color: black;*/
	margin-left: 5px;
	 width: 70%;
	/* height:45px;*/
	 float: left;
}
.all_search{

	height: 500px;
	overflow: scroll;
}
#wrapper{
	/*padding: 91px 0;*/
	padding-right: 0%;
	margin-left:2%;
	margin-top: -25px;

}

.image{
	/*border: solid;*/
	/*height:150px;*/
}
.circular {
	border-radius: 200px 200px 200px 200px;
	width:100px;
	height:100px;
	line-height: 50px;
	/*position: absolute;*/
	margin-top: 21px;
	margin-left: 30px;
	}

.desc{
	/*border:solid;*/
	height: 100px;
}
.title{
	color:black;
	font:20px Serif;
}

.subtitle{
	color:black;
	font:15px Serif;
}
.half_star{
	height: 13px;
	width: 13px;
	margin-bottom: 4px;
}
.star{
	    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.see-more{
	margin-top: 50px;
	background-color: #FDC103;
	color:white;
}
.see-more:hover{
	color:#DDDDDD;
}
.related-title{
	color:black;
	font:20px Serif;
	text-align: center;
}
.related-header{
	
}

.related-article{
	border-top: 1px solid black;
	padding: 5px;
}

.headline{
	color:black;
	font:bold 15px Serif;
	text-align: left;
}
.snippet{
	color:black;
	font:italic 14px Serif;
	text-align: left;
	height: 100px;
	overflow-y: scroll;
}
#related-article{
	color:blue;
	text-align: center;
	margin-left: 61px;
}

.info{
	height:300px;
	width:100%;
	border: solid;	
	border-width: 1px;
	border-color: black;
}

.synopsis{
	height:300px;
	width:100%;
	border: solid;	
	border-width: 1px;
	border-color: black;
}

.movie-reviews{
	height:100px;
	width:100%;
	border: solid;	
	border-width: 1px;
	border-color: black;
}

.poster img{
	height: 300px; 
	width: 200px;
	vertical-align:middle;
}

.poster {
	height: 300px; 
	width: 200px;
	vertical-align:middle;
}

#info_body{
	margin-top: 100px;
	margin-right: 50px;
	margin-left: 50px;
	width:75%;
}

.title h1{
	color:black;
	font:20px Serif;
}

.rate img{
	height:35px; 
	width:35px;
	/*position:relative;*/
	margin-left: 9px;
	margin-bottom: 8px;
}
.rate{
	height:50px; 
	width:50px;
}

.rate h1{
	margin-top: -32px;
	color: black;
	font: 15px Serif bold;
	margin-left: 18.5px;
	position: relative;
	float: left;
}
.profile_rating{
	margin-top: -21px;
}
.information table{
	width:220px;
	margin-left: 10px;	
}

.information{
	margin-top: -36px;
	height:50px;
	color:black;
	font:13px Arial bold;
	margin-left: 60px;
	position: relative;	
}
.pro_t{
	margin-bottom: -18px;
	text-align: center;
}
.audience{
	float:left;
	border-right: 1px solid;
	width:32%;
	margin-left: 7px;
}
.critic{
	float:right;
	margin-right: 350px;
}

.actors table{
	width:100%;
	margin-left: 10px;	
	color:black;
}
.actors table tr td{
	color:black;
	font-size: 13px;
}
.actors table tr th{
	color:black;
	margin-left:1px;	
}
.sub_r{
	font-size: 13px;
}





