.search_result{
	border: solid;	
	border-width: 1px;
	border-color: black;
	height:150px;
	background-color: white;
	margin-bottom: 6px;
}

.search_result:hover { 
  background-color: rgba(0, 0, 0, 0.1);
}

.search{
	 background-color: white;
	 border: solid;
	 width: 75%;
	 height:150px;
}
#wrapper{
	padding: 91px 0;
}

.image{
	/*border: solid;*/
	height:150px;
}
.circular {
	border-radius: 200px 200px 200px 200px;
	width:100px;
	height:100px;
	line-height: 50px;
	position: absolute;
	margin-top: 21px;
	margin-left: 30px;
	}

.desc{
	/*border:solid;*/
	height: 100px;
}
.title{
	color:black;
	font:20px Serif;
}

.subtitle{
	color:black;
	font:15px Serif;
}
.half_star{
	height: 13px;
	width: 13px;
	margin-bottom: 4px;
}


