.search_result{
	border: solid;	
	border-width: 1px;
	border-color: darkblue;
	height:150px;
	background-color: white;
	margin-bottom: 6px;
	border-radius: 10px;
}

.search_result:hover { 
  background-color: rgba(0, 0, 0, 0.1);
}
#search-header{ 
	height:32px;
	border: solid;	
	border-width: 1px;
	border-color: black;
	margin-top: 0px;
	margin-bottom: 6px;
	outline: 1px solid darkblue;
}

.related{
	 background-color: white;
	 border: solid;
	 width: 23%;
	 float: right;
	 position:fixed;
	 margin-left: 939px;
	 overflow-y: scroll;
	 height:615px;
	 /*min-height: 615px;*/
}

.search{
	 background-color: white;
 	/*border: solid;	
	border-width: 1px;
	border-color: black;*/
	margin-left: 5px;
	 width: 75%;
	 height:45px;
	 float: left;
}
#wrapper{
	padding: 91px 0;
}

.image{
	/*border: solid;*/
	height:150px;
}
.circular {
	border-radius: 200px 200px 200px 200px;
	width:100px;
	height:100px;
	line-height: 50px;
	position: absolute;
	margin-top: 21px;
	margin-left: 30px;
	}

.desc{
	/*border:solid;*/
	height: 100px;
}
.title{
	color:black;
	font:20px Serif;
}

.subtitle{
	color:black;
	font:15px Serif;
}
.half_star{
	height: 13px;
	width: 13px;
	margin-bottom: 4px;
}
.star{
	    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.see-more{
	margin-top: 50px;
	background-color: #001F3F;
	color:white;
}
.see-more:hover{
	color:#DDDDDD;
}
.related-title{
	color:black;
	font:20px Serif;
	text-align: center;
}
.related-header{
	border: solid;	
	border-width: 1px;
	border-color: black;
}

.related-article{
	border: solid;	
	border-width: 1px;
	border-color: black;
}

.headline{
	color:black;
	font:bold 15px Serif;
	text-align: left;
}
.snippet{
	color:black;
	font:italic 14px Serif;
	text-align: left;
}
#related-article{
	color:blue;
	text-align: center;
	margin-left: 61px;
}

